<div id="vendorLayout">
  <div id="sideBar">
    <h1 style="color: white">Velocity</h1>
    <br /><br />
    <a href="/Home" style="text-decoration: none; color: white">Dashboard</a>
    <br />
    <br />
    <a href="/vendor_RFP_List" style="text-decoration: none; color: white"
      >RFP For Quotes</a
    >
  </div>
</div>
