<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <title>RFP System</title>
    <style>
      #top {
        display: flex;
        flex-direction: column;
        background-color: #b4d4ff;
        padding: 10px;
        height: 20vh;
      }
      #formFields {
        display: flex;
        flex-direction: column;
        padding: 3%;
      }
      #login {
        width: 30%;
        margin: auto;
        margin-top: 10%;
        background-color: white;
        border-radius: 3px;
      }
      body {
        background-color: #eef5ff;
      }
      h1,
      h3 {
        color: #176b87;
      }
      h1 {
        margin-top: auto;
        margin-bottom: auto;
      }
      h3 {
        margin-bottom: auto;
      }
      a {
        margin: auto;
      }
      .form-container {
        border: none;
      }
      #extraDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .extra {
        text-decoration: none;
      }
      #sendOtp {
        width: 100%;
        margin: auto;
        background-color: #176b87;
        border-radius: 6px;
        padding: 6px 10px;
        line-height: normal;
      }
    </style>
  </head>
  <body>
    <div id="login">
      <div id="top">
        <h1>Welcome to RFP System</h1>
        <h3>Forgot Password</h3>
      </div>
      <div class="form-container">
        <form id="formFields">
          <label>Email</label>
          <input type="email" required id="email" name="email" />
          <button type="button" onclick="redirect()" id="sendOtp">
            Send OTP
          </button>
        </form>
      </div>
      <div id="extraDetails">
        <a class="extra" href="/signupPage">Register as Admin</a>
        <a class="extra" href="/vendorRegistration">Register as Vendor</a>
      </div>
    </div>
    <script>
      function redirect() {
        const email = document.getElementById("email").value;
        console.log(email);
        fetch("/forgotPasswordRoute", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          // Optionally, include data in the request body
          body: JSON.stringify({ email: email }),
        })
          .then((response) => {
            if (!response.ok) {
              throw new Error("Network response was not ok");
            }
            return response.json(); // Return response text
          })
          .then((data) => {
            console.log(data.message);
            if (data.message !== "Otp sent.") alert(data.message);
            else {
              window.location.href = "/emailOTP";
            }
          })
          .catch((error) => {
            console.error("Error:", error); // Handle errors
          });
      }
    </script>
  </body>
</html>
