<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <title>RFP System</title>
    <style>
      #top {
        display: flex;
        flex-direction: column;
        background-color: #b4d4ff;
        padding: 10px;
        height: 20vh;
      }
      #formFields {
        display: flex;
        flex-direction: column;
        padding: 3%;
      }
      #login {
        width: 30%;
        margin: auto;
        margin-top: 10%;
        background-color: white;
        border-radius: 3px;
      }
      body {
        background-color: #eef5ff;
      }
      h1,
      h3 {
        color: #176b87;
      }
      h1 {
        margin-top: auto;
        margin-bottom: auto;
      }
      h3 {
        margin-bottom: auto;
      }
      a {
        margin: auto;
      }
      .form-container {
        border: none;
      }
      #verify {
        width: 100%;
        margin: auto;
        background-color: #176b87;
        border-radius: 6px;
        padding: 6px 10px;
        line-height: normal;
      }
    </style>
  </head>
  <body>
    <div id="login">
      <div id="top">
        <h1>Welcome to RFP System</h1>
        <h3>Reset Password</h3>
      </div>
      <div class="form-container">
        <form id="formFields">
          <label>Password*</label>
          <input type="password" id="password" name="password" required />
          <label>Confirm Password*</label>
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            required
          />
          <button type="button" onclick="redirect()" id="verify">Submit</button>
        </form>
      </div>
    </div>
    <script>
      function redirect() {
        const password = document.getElementById("password").value;
        const confirmPassword =
          document.getElementById("confirmPassword").value;
        fetch("/resetPasswordRoute", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            password: password,
            confirmPassword: confirmPassword,
          }),
        })
          .then((response) => {
            if (!response.ok) {
              throw new Error("Network response was not ok");
            }
            // Return response.json() to parse JSON asynchronously
            return response.json();
          })
          .then((data) => {
            // Process the response data here
            // You can redirect to another page here if needed
            if (data.message != "Password updated.") alert(data.message);
            else {
              window.location.href = "/login";
            }
          })
          .catch((error) => {
            console.error("Error:", error);
            // Handle errors
          });
      }
    </script>
  </body>
</html>
