<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/styles.css" />
  <title>RFP System</title>
  <style>
    #top {
      display: flex;
      flex-direction: column;
      background-color: #b4d4ff;
      padding: 10px;
      height: 20vh;
    }

    #formFields {
      display: flex;
      flex-direction: column;
      padding: 3%;
    }

    #login {
      width: 30%;
      margin: auto;
      margin-top: 2%;
      background-color: white;
      border-radius: 3px;
    }

    body {
      background-color: #eef5ff;
    }

    h1,
    h3 {
      color: #176b87;
    }

    h1 {
      margin-top: auto;
      margin-bottom: auto;
    }

    h3 {
      margin-bottom: auto;
    }

    a {
      margin: auto;
    }

    .form-container {
      border: none;
    }

    #extraDetails {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .extra {
      text-decoration: none;
    }

    #signupBtn {
      width: 100%;
      margin: auto;
      background-color: #176b87;
      border-radius: 6px;
      padding: 6px 10px;
      line-height: normal;
    }
  </style>
</head>

<body>
  <div id="login">
    <div id="top">
      <h1>Welcome to RFP System</h1>
      <h3>Sign up to Continue</h3>
    </div>
    <div class="form-container">
      <form id="formFields">
        <label>First Name</label>
        <input type="text" id="firstName" name="firstName" required />
        <div id="firstNameError" class="errors"></div>
        <label>Last Name</label>
        <input type="text" id="lastName" name="lastName" required />
        <div id="lastNameError" class="errors"></div>
        <label>Email</label>
        <input type="email" id="email" name="email" required />
        <div id="emailError" class="errors"></div>
        <label>Password</label>
        <input type="password" id="password" name="password" required />
        <div id="passwordError" class="errors"></div>
        <label>Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required />
        <div id="confirmPasswordError" class="errors"></div>
        <label>Company Name</label>
        <input type="text" id="companyName" name="companyName" required />
        <div id="companyNameError" class="errors"></div>
        <button type="button" onclick="request()" id="signupBtn">
          Signup
        </button>
      </form>
    </div>
    <div id="extraDetails">
      <a class="extra" href="/vendorRegistration">Register as Vendor</a>
      <a class="extra" href="/forgotPassword">Forgot your password?</a>
    </div>
  </div>
  <script>
    function request() {
      const firstName = document.getElementById("firstName").value;
      const lastname = document.getElementById("lastName").value;
      const email = document.getElementById("email").value;
      const password = document.getElementById("password").value;
      const confirmPassword =
        document.getElementById("confirmPassword").value;
      let companyName = document.getElementById("companyName").value;

      let errors = 0;
      document.getElementById("firstNameError").innerHTML = "";
      document.getElementById("lastNameError").innerHTML = "";
      document.getElementById("emailError").innerHTML = "";
      document.getElementById("passwordError").innerHTML = "";
      document.getElementById("confirmPasswordError").innerHTML = "";
      document.getElementById("companyNameError").innerHTML = "";

      if (firstName == "") {
        document.getElementById("firstNameError").innerHTML =
          "*Please enter the first name";
        errors += 1;
      }
      if (lastname == "") {
        document.getElementById("lastNameError").innerHTML =
          "*Please enter the last name";
        errors += 1;
      }
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      if (email == "") {
        document.getElementById("emailError").innerHTML =
          "*Please enter the email";
        errors += 1;
      } else if (!emailRegex.test(email)) {
        document.getElementById(
          "emailError"
        ).innerHTML = `Please enter a valid email of type "abc@gmail.com"`;
        errors += 1;
      }
      if (password == "") {
        document.getElementById("passwordError").innerHTML =
          "*Please enter the password";
        errors += 1;
      }
      if (confirmPassword == "") {
        document.getElementById("confirmPasswordError").innerHTML =
          "*Please enter the password again";
        errors += 1;
      } else if (password !== confirmPassword) {
        document.getElementById("confirmPasswordError").innerHTML =
          "*Both the passwords dose not match";
        errors += 1;
      }
      if (companyName == "") {
        document.getElementById("companyNameError").innerHTML =
          "*Please enter the company name";
        errors += 1;
      }

      if (errors > 0) return false;

      const formData = {
        firstName: firstName,
        lastName: lastname,
        email: email,
        password: password,
        confirmPassword: confirmPassword,
        companyName: companyName,
      };

      const url = "/signup";
      const options = {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(formData),
      };

      fetch(url, options)
        .then((response) => response.json())
        .then((data) => {
          if (data.errors) {
            for (const key in data.errors) {
              document.getElementById(
                `${key}`
              ).innerHTML = `${data.errors[key]}`;
            }
          } else {
            window.location.href = "/EnterOtp";
          }
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    }
  </script>
</body>

</html>